<div class="modal-header justify-content-between">
  <h4 class="modal-title">Contacts</h4>
  <button
    type="button"
    class="btn btn-outline"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <i class="bi bi-x-lg"></i>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
      @if (contactForm.get('firstName')?.invalid &&
      (contactForm.get('firstName')?.dirty ||
      contactForm.get('firstName')?.touched)) { @if
      (contactForm.get('firstName')?.errors?.['required']) {
      <div class="text-danger small">First Name is required</div>
      } }
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
      @if (contactForm.get('lastName')?.invalid &&
      (contactForm.get('lastName')?.dirty ||
      contactForm.get('lastName')?.touched)) { @if
      (contactForm.get('lastName')?.errors?.['required']) {
      <div class="text-danger small">Last Name is required</div>
      } }
    </div>

    <div class="form-group">
      <label for="email">E-Mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
      />
      @if (contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty
      || contactForm.get('email')?.touched)) { @if
      (contactForm.get('email')?.errors?.['required']) {
      <div class="text-danger small">E-Mail is required</div>
      } @if (contactForm.get('email')?.errors?.['email']) {
      <div class="text-danger small">Email is not valid</div>
      } }
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        type="tel"
        class="form-control"
        id="phone"
        formControlName="phone"
      />
      @if (contactForm.get('phone')?.invalid && (contactForm.get('phone')?.dirty
      || contactForm.get('phone')?.touched)) { @if
      (contactForm.get('phone')?.errors?.['required']) {
      <div class="text-danger small">A phone number is required</div>
      } }
    </div>
  </form>
</div>
<div class="modal-footer justify-content-between">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
  <button
    (click)="onSubmit()"
    class="btn btn-primary"
    [disabled]="contactForm.invalid"
    form="contactForm"
  >
    Save
  </button>
</div>
