#description {
  height: 120px;
  resize: none;
}

.mobile {
  flex-direction: column;
}

.divider {
  border-left: 3px solid #dee2e6;
}

.btn-white {
  background-color: white !important;
  border: 1px solid #ccc;
}

.btn-width {
  // max-width: 33.33%;
  // min-width: 132px;
  height: 56px;
}

.form-control {
  height: 48px;
}

.form-select {
  height: 48px;
}

.add-subtask-btn {
  height: 48px;
}
