<section>
  <form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
    <div
      class="w-100 wrapper d-flex justify-content-around"
      [ngClass]="{ mobile: breakpointService.isMobileView }"
    >
      <div class="col-md-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="priority">Priority</label>
          <select class="form-control" id="priority" formControlName="priority">
            <option value="LOW">LOW</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="URGENT">URGENT</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dueDate">Due Date</label>
          <input
            type="date"
            class="form-control"
            id="dueDate"
            formControlName="dueDate"
          />
        </div>
        <div formArrayName="subtasks">
          @for (subtask of subtasks.controls; let i = $index; track $index) {
          <div [formGroupName]="i">
            <input formControlName="name" placeholder="Subtask Name" />
            <button type="button" (click)="removeSubtask(i)">-</button>
          </div>
          }
        </div>
        <button type="button" (click)="addSubtask()">+</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</section>

<!--
//TODO change input to textarea for description 
//TODO change option for priority to single buttons
  -->
