.cdk-drop-list {
  border-radius: 4px;
  min-height: 300px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  padding: 10px;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  background-color: #e9ecef;
  border: 1px dashed #ced4da;
  min-height: 50px;
  border-radius: 4px;
}

.cdk-drag-disabled {
  opacity: 0.5;
}

.task {
  overflow: hidden;

  .task-header {
    padding-block: 0.25rem;
  }
}

.card {
  width: 252px;
  height: auto;
  border-radius: 24px;
}
