<section>
  <div class="ps-3 mt-3">
    <div class="d-flex align-items-center">
      <div class="initials" [ngStyle]="{ 'background-color': color }">
        {{ initials() }}
      </div>
      <div class="ms-5">
        <span class="fs-1 fw-bold">
          {{ contact()?.firstName }} {{ contact()?.lastName }}
        </span>
      </div>
    </div>
    <div class="mt-3">
      <span class="fs-5 fw-bold">Contact Information</span>
    </div>
    <div class="mt-3">
      <div class="mb-3">
        <span class="fs-6 fw-bold">Email</span>
        <div>{{ contact()?.email }}</div>
      </div>
      <div>
        <span class="fs-6 fw-bold">Phone</span>
        <div>{{ contact()?.phone }}</div>
      </div>
    </div>
  </div>
</section>

@if (inEditMode) {
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="firstName">Vorname</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      formControlName="firstName"
    />
    @if (contactForm.get('firstName')?.invalid &&
    (contactForm.get('firstName')?.dirty ||
    contactForm.get('firstName')?.touched)) { @if
    (contactForm.get('firstName')?.errors?.['required']) {
    <div>Vorname ist erforderlich.</div>
    } }
  </div>

  <div class="form-group">
    <label for="lastName">Nachname</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      formControlName="lastName"
    />
    @if (contactForm.get('lastName')?.invalid &&
    (contactForm.get('lastName')?.dirty ||
    contactForm.get('lastName')?.touched)) { @if
    (contactForm.get('lastName')?.errors?.['required']) {
    <div>Nachname ist erforderlich.</div>
    } }
  </div>

  <div class="form-group">
    <label for="email">E-Mail</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
    @if (contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty
    || contactForm.get('email')?.touched)) { @if
    (contactForm.get('email')?.errors?.['required']) {
    <div>E-Mail ist erforderlich.</div>
    } @if (contactForm.get('email')?.errors?.['email']) {
    <div>Ungültige E-Mail-Adresse.</div>
    } }
  </div>

  <div class="form-group">
    <label for="phone">Telefon</label>
    <input type="tel" class="form-control" id="phone" formControlName="phone" />
    @if (contactForm.get('phone')?.invalid && (contactForm.get('phone')?.dirty
    || contactForm.get('phone')?.touched)) { @if
    (contactForm.get('phone')?.errors?.['required']) {
    <div>Telefonnummer ist erforderlich.</div>
    } }
  </div>
</form>
}
