<section>
  <div class="modal-header justify-content-between">
    <h4 class="modal-title">Edit</h4>
    <button
      type="button"
      class="btn btn-outline"
      (click)="activeModal.dismiss('Cross click')"
    >
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <form [formGroup]="editTaskForm" class="modal-body">
    <div class="w-100 wrapper">
      <input
        type="text"
        class="form-control fs-5 fw-semibold border-0"
        id="name"
        formControlName="name"
      />
      <input
        type="text"
        class="form-control border-0"
        id="description"
        formControlName="description"
      />
      <div class="d-flex align-items-center pt-3">
        <label for="priority" class="text-muted">Priority:</label>
        <select class="form-control" id="priority" formControlName="priority">
          <option value="LOW" class="text-success">LOW</option>
          <option value="MEDIUM" class="text-warning">MEDIUM</option>
          <option value="URGENT" class="text-danger">URGENT</option>
        </select>
      </div>
      <div class="form-group d-flex align-items-center pt-1">
        <label for="dueDate" class="text-muted">Due Date</label>
        <input
          type="date"
          class="form-control"
          id="dueDate"
          formControlName="dueDate"
        />
      </div>
      <div formArrayName="subtasks" class="pt-3">
        <span class="text-muted"> Subtasks:</span>
        @for (subtask of subtasks.controls; let i = $index; track $index) {

        <div [formGroupName]="i" class="input-group mb-2">
          <div class="input-group-text">
            <input
              class="form-check-input mt-0"
              type="checkbox"
              id="isCompleted"
              formControlName="isCompleted"
            />
          </div>

          <input
            type="text"
            class="form-control"
            id="subtaskName"
            formControlName="name"
            placeholder="Subtask Name"
          />

          <button
            type="button"
            class="btn btn-danger"
            (click)="removeSubtask(i)"
          >
            <i class="bi bi-trash"></i>
          </button>
        </div>

        }
        <button
          type="button"
          class="btn btn-outline-secondary w-100 d-flex justify-content-between align-items-center add-subtask-btn"
          (click)="addSubtask()"
        >
          Add new subtask
          <i class="bi bi-plus"></i>
        </button>
      </div>
      <div class="form-group d-flex align-items-center pt-3">
        <label for="categoryName" class="text-muted">Category</label>
        <select
          class="form-control"
          id="category"
          formControlName="categoryName"
        >
          @for (category of categories; track $index) {
          <option [value]="category.name">
            {{ category.name }}
          </option>
          }
        </select>
      </div>
    </div>
  </form>
  <div class="modal-footer justify-content-between">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close('Close click')"
    >
      Close
    </button>
    <button (click)="onSubmit()" class="btn btn-primary">Save</button>
  </div>
</section>
