<section>
  <div class="modal-header">
    <h4 class="modal-title">Edit</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="editTaskForm" (ngSubmit)="onSubmit()">
    <div class="w-100 wrapper d-flex justify-content-around">
      <div class="col-md-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />
        </div>
      </div>
      <div class="divider"></div>
      <div class="col-md-5">
        <div class="form-group">
          <label for="priority">Priority</label>
          <select class="form-control" id="priority" formControlName="priority">
            <option value="LOW">LOW</option>
            <option value="MEDIUM">MEDIUM</option>
            <option value="URGENT">URGENT</option>
          </select>
        </div>
        <div class="form-group">
          <label for="dueDate">Due Date</label>
          <input
            type="date"
            class="form-control"
            id="dueDate"
            formControlName="dueDate"
          />
        </div>
        <div formArrayName="subtasks">
          <!-- @for (subtask of subtasks.controls; let i = $index; track $index) {
          <div [formGroupName]="i">
            <input formControlName="name" placeholder="Subtask Name" />
            <button type="button">-</button>
          </div>
          } -->

          <div
            *ngFor="let subtask of subtasks.controls; let i = index"
            [formGroupName]="i"
            class="form-group"
          >
            <label for="subtaskName">Subtask Name</label>
            <input
              type="text"
              class="form-control"
              id="subtaskName"
              formControlName="name"
            />
            <label for="isCompleted">Completed</label>
            <input
              type="checkbox"
              id="isCompleted"
              formControlName="isCompleted"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="categoryName">Category</label>
          <select
            class="form-control"
            id="category"
            formControlName="categoryName"
          >
            @for (category of categories; track $index) {
            <option [value]="category.name">
              {{ category.name }}
            </option>
            }
          </select>
        </div>

        <button type="button">+</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Schließen
  </button>
</section>
