/* You can add global styles to this file, and also import other style files */

$primary: #2a3747;

body {
  margin: 0 auto !important;
  box-sizing: border-box;
  background-color: #f6f7f8 !important;
  max-width: 1920px;
}

bg-primary {
  background-color: $primary !important;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
